<!-- <router-outlet /> -->
<div>
    <h1>¿Qué me parece angular?</h1>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus quia laborum dolor tempora aperiam enim laboriosam dolorem accusantium provident exercitationem nihil eaque voluptatem, aspernatur eos quae fugit consectetur. Sunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, doloribus? Itaque id, officiis molestiae animi corrupti quae minima beatae quibusdam velit quas enim, libero vero neque quia esse accusantium! Dolores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, doloribus? Itaque id, officiis molestiae animi corrupti quae minima beatae quibusdam velit quas enim, libero vero neque quia esse accusantium! Dolores.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati quaerat quis tenetur excepturi et nostrum dolores eum repellendus vel est ipsa, facere provident perspiciatis voluptatibus temporibus tempore ea accusamus! Harum!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi rerum mollitia repudiandae esse nemo doloremque magni unde amet a accusamus, alias reiciendis provident aliquid laudantium beatae fugit in? Excepturi, odio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis unde, sunt cupiditate ut harum maxime ipsa commodi mollitia, laboriosam deleniti! Perspiciatis blanditiis vero eaque amet harum cumque consequatur itaque?</p>
    </article>
</div>

@defer (on viewport) {
    <app-comments></app-comments>
} @placeholder {
    <p>.</p>
} @loading {
    <p>Cargando comentarios...</p>
}